.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/
bin/

registry/.idea
registry/target

config/.idea
config/target

gateway/.idea
gateway/target


product/.idea
product/target
product/logs

inventory/.idea
inventory/target
inventory/logs

review/.idea
review/target
review/logs




### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/